.noscroll{
    overflow:  hidden;
    position: fixed;
    width: 100%;
}
.col-lg-6, .col-lg-12, .col-lg-4, .col-lg-3{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.tx-pxa-social-feed{
    position: relative;
}
.tx-pxa-social-feed .btn{
  margin: 50px auto;
  text-align: center;
  width: auto;
  display: inline-block;
}
.carouselGallery-button{
    text-align: center;
}
@media (min-width: 768px){
.carouselGallery-left,
.carouselGallery-right{
    font-size: 8rem;
    color: yellow;
    cursor: pointer;
    position: absolute;
    /* width: 100px; */
    /* height: 100px; */
    z-index: 2;
    /* top: 50%; */
    transform: translate(14%, -38%);
}
}
@media (max-width: 768px){
.carouselGallery-left,
.carouselGallery-right{
    font-size: 8rem;
    color: yellow;
    cursor: pointer;
    position: absolute;
    /* width: 100px; */
    /* height: 100px; */
    z-index: 2;
    top: 192%;
    transform: translate(14%, -38%);
}
}
.carouselGallery-left.disabled,
.carouselGallery-right.disabled{
    cursor: auto;
    opacity: 0.3;
}
.carouselGallery-grid{
    max-width: 3000px;
}
.carouselGallery-col-60{
    float: left;
    width: 60%;
}
.carouselGallery-col-40{
    width: 40%;
    float: left;
}
.carouselGallery-grid .carouselGallery-col-1{
    
    cursor: pointer;
    }

.carouselGallery-grid .carouselGallery-col-2{
    width: 100%;
    padding-bottom: 99.9%;
    margin: 0;
    cursor: pointer;

}

.carouselGallery-item-meta{
    background-color: #005293;
    height: 40px;
    width: 100%;
    position: absolute;
    padding: 5px 10px;
    padding-right: 15px;
    color: #fff;
    bottom: -40px;
    font-family: "icons", sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: bottom 0.2s;
    -moz-transition: bottom 0.2s;
    -webkit-transition:bottom 0.2s;
    -o-transition: bottom 0.2s;
}
.carouselGallery-item-meta .icon-heart{
    top: 5px;
    font-size: 24px;
    color: yellow;
    line-height: 20px;
}
.carouselGallery-col-1:hover .carouselGallery-item-meta,
.carouselGallery-col-2:hover .carouselGallery-item-meta{
    bottom: 0;
}
.carouselGallery-item-meta{
    right: 0;
}

.carouselGallery-grid .carouselGallery-col-1,
.carouselGallery-grid .carouselGallery-col-2{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.carouselGallery-grid .carouselGallery-col-1{
   
}
.carouselGallery-grid .carouselGallery-col-2{

}
.carouselGallery-item-meta-user,
.carouselGallery-item-meta-likes{
    display: block;
    float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.carouselGallery-item-meta-likes{
    width: 40%

}
.carouselGallery-item-meta-likes{
    text-align: right;
}
@media (min-width: 768px){
.carouselGallery-wrapper {
    z-index: 1111;
    width: 100%;
    position: fixed;
    top: 0;
    left: 6vw;
    background-color: rgba(12,12,12,0.8);
    width: 94vw;
    height: 100%;
}
}
@media (max-width: 768px){
.carouselGallery-wrapper {
    z-index: 1111;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(12,12,12,0.8);
    width: 100vw;
    height: 100%;
}
}
.carouselGallery-wrapper > div {
    z-index: 2;
    position: absolute;
    left: 0vw;
    /* max-width: 100%; */
    width: 96vw;
}
.carouselGallery-scrollbox {
    display: block;
    /* max-height - set by javascript*/
    overflow-x: hidden;
}

.carouselGallery-modal .container{
    padding: 0;
    font-family: "icons", sans-serif;
    font-size: 18px;
    color: #000;
    position: relative;
    border-radius: 2px;
    padding-right: 334px;
    position: relative;
    width: 930px;
}
@media (min-width: 768px){
.col-xs-offset-2{
margin-left: 2% !important;	
}
}
@media (min-width: 768px){
.carouselGallery-modal p{
    font-size: 13px;
    font-weight: normal;
    min-height: 290px;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.04em;
	color:#efefef;
	font-size:18px;
	
}
}
@media (max-width: 768px){
.carouselGallery-modal p{
    font-size: 8px !important;
    font-weight: normal;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.04em;
	color:#efefef;
	overflow:auto;
	
}
}
::-webkit-scrollbar { 
    display: none; 
}
}
.carouselGallery-modal a {
    color: #005293;
    font-weight: bold;
    font-size: 19px;
}
.carouselGallery-modal-image,
.carouselGallery-modal-text{
    width: 100%;
    float: left;
}
.carouselGallery-modal-text{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 335px;
    height: 100%;
}
.carouselGallery-modal-text:hover { // ie10 transform glitch fix
    background-color: #fffffe;
}
.carouselGallery-modal-image img{
    max-width: 100%;
    width: 100%;
}
.carouselGallery-modal-location{
    margin-top: -3px;
    font-size: 16px;
}

.carouselGallery-item-modal-likes{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
}
.carouselGallery-item-modal-likes .icon-heart{
    top: 3px;
    font-size: 25px;
    color: yellow;
    float: left;
    margin-right: 5px;
}
.carouselGallery-modal-text{
    background-color: #fff;
    padding: 30px;
}

.carouselGallery-modal-text span{
    display: block;
}
@media (min-width: 768px){
.carouselGallery-modal .iconscircle-cross{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    font-size: 35px;
    color: yellow;

}
}
@media (max-width: 768px){
.carouselGallery-modal .iconscircle-cross{
    cursor: pointer;
    position: absolute;
	top:9vh;
    z-index: 1;
    font-size: 35px;
    color: yellow;

}
}
@media (min-width: 3000px){
    .carouselGallery-grid{
        margin: 0 auto;
    }
}


@media (max-width: 1200px){
    .carouselGallery-modal .container{
        padding-right: 0;
        width: 100%;
    }
    .carouselGallery-modal-image{
        width: 100%;
    }
    .carouselGallery-item-modal-likes{
        margin-bottom: 10px;
    }
    .carouselGallery-modal p{
       
    }
    .carouselGallery-modal-text{
        text-align: left;
        position: relative;
        bottom: auto;
        right: auto;
        width: 100%;
    }
}
@media only screen and (min-width: 940px) and (max-width: 1200px) and (orientation: landscape) {
    .carouselGallery-modal .container{
        padding-right: 334px;
        width: 850px;
    }
    .carouselGallery-modal-text {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 335px;
        height: 100%;
    }
    .carouselGallery-right{
        right: -130px;
    }
    .carouselGallery-left{
    }
}

@media (max-width: 767px){
    .carouselGallery-modal-text{
        width: 100%;
    }
    .carouselGallery-wrapper > div {
        z-index: 2;
    position: absolute;
    top: 46%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 93vw !important;
}

}
@font-face {
  font-family: 'icons';
    src: url('../fonts/Lucida.ttf'); /* IE9 Compat Modes */
}

.icons {
    font-family: 'icons';
    speak: none;
    position: relative;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
.include{
	padding: 50px; 
	background-color: black !important;
}
.event_name{
	font-size: 22px; 
	color: white;
	padding-left: 10vw; /*******************************************************************************/
}
@media (min-width: 768px){
.event_description{
	padding: 50px;
	text-align: center;
	max-height: 70vh;
}
}
@media (max-width: 768px){
.event_description{
	padding: 5px !important;
	text-align: center;
	font-size: 6px !important;
}
}
.heading{
	padding: 15px 60px;
}
@media (max-width: 768px){
.heading{
	padding: 9px 10px;
}
}
@media (max-width: 768px){
.heading > div > span{
	font-size: 16px !important;
}
}
.btn{
	    padding: 10px 26px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 24px;
	border: 1.5px solid #efefef;
	color: #efefef;
	background-color: transparent !important;
	-webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.btn:hover{padding: 10px 26px;
    font-size: 16px;
   border-color: #efefef;
    line-height: 1.3333333;
    border-radius: 24px;
    color: black !important;
    background-color: #efefef !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	display: block;
    max-width: 90% !important;
    height: auto;
}
@media (min-width: 1200px) {
.rajat{
	width: 25% !important;
	
}
}
@media (max-width: 768px) {
.rajat{
	width: 100% !important;
	
}
}