.page_links ul {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.page_links a{
      margin: auto;
}
.page_links button a{
  border: 1px solid #000000;
    padding: 6px;
    font-family: "Montserrat";
    background-color: white;
    font-size: 11px;
}
.page_links {
  overflow:hidden;
    position: relative;
    z-index: 10000;
    top: 0px;
    width: 100%;
        border-bottom: 1px solid grey;
    padding: 5px;
}
.page_links ul li{
         height: 40px;
    width: 12%;
    vertical-align: middle;
    margin: auto;
    color: black;
    font-weight: 400;
    display: inline-flex;
    font-size: 12px;
    position: relative;
}
.opaque_header{
  background-color: #003185;
}

.site_map{
 display: none;
}
.page_links li{
    font-family: "Open Sans";
  }
  
  
  
  /* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* General Demo Style */



#mob_nav{
	display: none
}


html { height: 100%; font-size: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



body {
    background: #f9f9f9;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}


.page_links ul {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 5px 0px;
}
.page_links ul li{
    width: 15%;
    color: white;
    font-size: 15px;
    display: inline-block;
    position: relative;
}
.site_map li{
	list-style: none;
}
@media only screen and (max-width: 600px) {
	.cover-image-container {
     margin-top: 0px!important; 
     }
	.site_map .page_links{
		display: none!important;
	}
	footer{
	  display: none!important
	}
	#mob_nav{
		display: block;
	}
	.desk{
		display: none!important
	}
	.page_links ul li {
	    width: 100%;
	}
	.site_map div section {
	    width: 100%;
	    text-align: center;
	}
}

.all_page_links{
	overflow: hidden;
    position: relative;
    z-index: 10000;
    top: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid grey;
    padding: 0px;
}
.all_page_links ul{
	 display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%
}
.all_page_links ul li a{
	color: black!important
}
.all_page_links ul li {
    height: 40px;
    width: 10%;
    vertical-align: middle;
    margin: auto;
    color: black;
    font-weight: 400;
    display: inline-flex;
    font-size: 12px;
    position: relative;
}
.all_page_links a {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";

}
.all_page_links img{
   vertical-align: sub;
}
.desk{
	background-color: transparent;
}
.desk button{
	font: -webkit-control!important;
      background-color: white;
}

.page_links button a{
  border: none!important
}

/**MOBILE NAVIGATION***/


#mob_nav {
background-color: #fafafa;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0px;
    z-index: 1000000;
}

.eventpage #mob_nav{
    right: 0px;
    top: 0px;
    z-index: 1000!important
}
.eventpage #menu-toggle{
    background: rgba(255,255,255,1);
}

.eventpage .sponsor_img li{
  width: 10%;
  padding: 0px 14px;
}
.eventpage .sponsor_img{
   background-color: #fafafa!important;
}
.eventpage .sponsor_img span{
      position: absolute;
      color: black;
    left: 40px;
    top: -6px;
    font-weight: 500;
}

.workshop_nav .page_links span{
	    top: -21px !important;
}
.workshop_nav  .scrollble-tabs-container{
	top: 12%;
}

.eventpage .sponsor_img p{
  margin-left: 12px!important;
  display: -webkit-inline-box;
  color: black;
  margin: auto;
}

.logo {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  padding: 0 0 0 20px;
  text-transform: capitalize;
}
/* menu button */
.menuBtn {
      height: 30px;
    border: 1px;
    width: 30px;
    position: fixed;
    z-index: 123;
    left: 10px;
    top: 10px;
}

.eventpage .navbar .page_links button a {
    border: 1px solid #000000;
    padding: 6px;
    color: black;
    font-family: "Montserrat";
    background-color: white;
    font-size: 12px;
}

.eventpage .menuBtn{
    left: inherit;
    	right: 10px;
}

.menuBtn > span {
  background-color: #4183c4;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  -webkit-transition: height 100ms;
  transition: height 100ms;
}
.menuBtn > span:after,
.menuBtn > span:before {
  content: '';
  background-color: #4183c4;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -7px;
}
.menuBtn > span:before {
  bottom: -7px;
}
.menuBtn.act > span {
  height: 0;
}
.menuBtn.act > span:after,
.menuBtn.act > span:before {
  background-color: #008877;
  top: 1px;
}
.menuBtn.act > span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menuBtn.act > span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* main menu block */
.mainMenu {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.mainMenu.act {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mainMenu.act ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mainMenu ul {
  display: table-cell;
  vertical-align: middle;
}
.mainMenu li {
	list-style: none;
  padding: 8px 0;
  -webkit-transition: all 400ms 510ms;
  transition: all 400ms 510ms;
  opacity: 0;
}
.mainMenu li:nth-child(odd) {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}
.mainMenu li:nth-child(even) {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.mainMenu li:last-child {
  -webkit-transform: none;
          transform: none;
}
.mainMenu a {
    color: #000000;  display: inline-block;
    font-family: "Open Sans";
  font-size: 18px;
}
.mainMenu a.suBtn {
  color: #fff;
}
/* sign up button */
.suBtn {
  background-color: #19b698;
  border-radius: 5px;
  padding: 10px 20px;
}

/*.sponsor_img li:not(.typo){
  padding: 0px 20px!important;
}*/
.eventpage .sponsor_img li.typo{
  padding: 0px 0px!important;
}

 .sponsor_img li.juniper{
  padding: 0px 5px!important;
}

.navbar {
  box-shadow: none!important;
  border-bottom: none!important
  background-color:transparent;
}

@media only screen and (min-width: 700px) and (max-width: 1300px){
  .eventpage .navbar .page_links button a{
    font-size: 8px !important;
  }
  .navbar .page_links ul li{
    font-size: 9px!important;
  }
  .scrollble-tabs-container {
    top: 48px!important;
  }
}
a:hover{
     color: #0070c2 !important;
    cursor: pointer;
}